<% provide(:title, "バナー一覧")%>
<div class="container margin-top--md">
<div class="row">
<% @banners.each do |banner| %>
<section class="col-12 col-md-6 col-lg-4 each-section-banners">
<figure class="photoswipe-figure text-center">
  <% if banner.img? %>
    <%= link_to banner.img.url, class: "photoswipe-link d-block", data: { lightbox: "images" } do %>
      <%= image_tag banner.img.url, class: "photoswipe-img" %>
    <% end %>
    <figcaption><%= banner.title %></figcaption>
  <% end %>
</figure>
</section>
<% end %>
</div>
</div>
<%= render "banners/control_photoswipe" %>
