/* 共通設定
******************************************** */
.header-nav{
  background-color: #fff;
  border-bottom: 1px solid #E5E9EF;
  .navbar-brand{
    color: $base-font-color;
    font-size: $font-size-16px;
  }
  #login-user-info{
    padding: 0;
    #img-avatar{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 3px;
    }
  }
}
