/* 共通
******************************************** */
.header-nav{
  background-color: #fff;
  border-bottom: 1px solid #E5E9EF;
  .navbar-brand{
    color: $base-font-color;
    font-size: $font-size-16px;
  }
  #login-user-info{
    padding: 0;
    #img-avatar{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 3px;
    }
  }
}
@include media-breakpoint-only(xs) {
  body{
    padding-top: 3.25rem;
  }
}
@include media-breakpoint-only(sm) {
  body{
    padding-top: 3.25rem;
  }
}
@include media-breakpoint-only(md) {
  body{
    padding-top: 3rem;
  }
}
@include media-breakpoint-up(lg) {
  body{
    padding-top: 3rem;
  }
}
