<% if @user.errors.any? %>
<div class="container">
<div class="row">
<div class="col-12 col-md-6 m-auto">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">エラーが<%= pluralize(@user.errors.count, "つあります。") %></h4>
    <hr>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</div>
</div>
</div>
<% end %>
