/* Font Color
************************ */
$base-font-color: #000;
$font-color-white: #fff;
$font-color-ccc: #ccc;
$font-color-ddd: #ddd;
$font-color-gray-soft: #838E95;
/* BackGround Color
************************ */
$bg-color-dark: #000;
$bg-color-light-gray: #f9f9f9;
