/* --------------------------------
Spacing
-------------------------------- */

:root {
    /* spacing values */
    --space-unit: 1em;
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs:  calc(0.375 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));

    /* components padding */
    --component-padding: var(--space-sm);
}

// optional - edit space unit and padding of all components at a specific breakpoint
// @include breakpoint(md) {
//     :root {
//         --space-unit: 1.25em;
//         --component-padding: var(--space-md);
//     }
// }

/* vertical paddings */
.padding-top-remove{
  padding-top: 0;
}
.padding-top, .padding-top--md{
  padding-top: var(--space-md);
}
.padding-top--sm {
  padding-top: var(--space-sm);
}
.padding-top--lg {
  padding-top: var(--space-lg);
}
.padding-top--xl {
  padding-top: var(--space-xl);
}
.padding-top--xxl {
  padding-top: var(--space-xxl);
}
.padding-bottom-remove{
  padding-bottom: 0;
}
.padding-bottom, .padding-bottom--md {
  padding-bottom: var(--space-md);
}
.padding-bottom--sm {
  padding-bottom: var(--space-sm);
}
.padding-bottom--lg {
  padding-bottom: var(--space-lg);
}
.padding-bottom--xl {
  padding-bottom: var(--space-xl);
}
.padding-bottom--xxl {
  padding-bottom: var(--space-xxl);
}
/* vertical margins */
.margin-top-remove{
  margin-top: 0;
}
.margin-top, .margin-top--md {
  margin-top: var(--space-md);
}
.margin-top--sm {
  margin-top: var(--space-sm);
}
.margin-top--lg {
  margin-top: var(--space-lg);
}
.margin-top--xl {
  margin-top: var(--space-xl);
}
.margin-top--xxl {
  margin-top: var(--space-xxl);
}
.margin-bottom-remove{
  margin-bottom: 0;
}
.margin-bottom, .margin-bottom--md {
  margin-bottom: var(--space-md);
}
.margin-bottom--sm {
  margin-bottom: var(--space-sm);
}
.margin-bottom--lg {
  margin-bottom: var(--space-lg);
}
.margin-bottom--xl {
  margin-bottom: var(--space-xl);
}
.margin-bottom--xxl {
  margin-bottom: var(--space-xxl);
}

@include media-breakpoint-between(md, xl) {
  /* paddings */
  .padding-top, .padding-top--md {
      padding-top: var(--space-lg);
  }
  .padding-top--sm {
      padding-top: var(--space-md);
  }
  .padding-top--lg {
      padding-top: var(--space-xl);
  }
  .padding-top--xl {
      padding-top: var(--space-xxl);
  }
  .padding-top--xxl {
      padding-top: var(--space-xxxl);
  }
  .padding-bottom, .padding-bottom--md {
      padding-bottom: var(--space-lg);
  }
  .padding-bottom--sm {
      padding-bottom: var(--space-md);
  }
  .padding-bottom--lg {
      padding-bottom: var(--space-xl);
  }
  .padding-bottom--xl {
      padding-bottom: var(--space-xxl);
  }
  .padding-bottom--xxl {
      padding-bottom: var(--space-xxxl);
  }
  /* margins */
  .margin-top, .margin-top--md {
      margin-top: var(--space-lg);
  }
  .margin-top--sm {
      margin-top: var(--space-md);
  }
  .margin-top--lg {
      margin-top: var(--space-xl);
  }
  .margin-top--xl {
      margin-top: var(--space-xxl);
  }
  .margin-top--xxl {
      margin-top: var(--space-xxxl);
  }
  .margin-bottom, .margin-bottom--md {
      margin-bottom: var(--space-lg);
  }
  .margin-bottom--sm {
      margin-bottom: var(--space-md);
  }
  .margin-bottom--lg {
      margin-bottom: var(--space-xl);
  }
  .margin-bottom--xl {
      margin-bottom: var(--space-xxl);
  }
  .margin-bottom--xxl {
      margin-bottom: var(--space-xxxl);
  }
}
