<div class="container margin-top--md">
<div class="row">
<% @posts.each do |post| %>
<section class="col-12 col-md-6 col-lg-4 each-section-posts">
<%= link_to post, class: "d-block each-section-posts-link" do %>
<div class="each-section-posts-inner">
<div class="posts-image-container">
<img src="https://themes.getbootstrap.com/wp-content/uploads/2019/10/screenshot-1-600x450.jpg" class="img-fluid theme-posts-img" alt="作品">
</div>
<div class="posts-title-inner">
<h2 class="posts-title"><%= post.title %></h2>
<p class="read-more margin-bottom-remove"><i class="fa fa-angle-right" aria-hidden="true"></i>詳しく見る</p>
</div>
</div>
<% end %>
</section>
<% end %>
</div>
</div>
