<% provide(:title, "新規投稿する") %>
<div class="container margin-top--lg">
<div class="row">
<div class="col-12">
<div class="col-12 col-md-6 m-auto">
<h1 class="h3 text-center mb-3"><%= yield(:title) %></h1>
<%= render "posts/form" %>
</div>
</div>
</div>
</div>
