@import "bootstrap";
@import "font-awesome";
/* 共通
******************************************** */
@import "variables/colors";
@import "variables/font-sizes";
@import "variables/spacing";
@import "layouts/base";
@import "layouts/header";

/* summernote
******************************************** */
@import "summernote-bs4";

/* photoswipe
******************************************** */
@import "photoswipe/photoswipe";
@import "photoswipe/default-skin/default-skin";

/* SESSIONS 共通
******************************************** */
@import "sessions";
/* USER 共通
******************************************** */
.current_user-container{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2rem 3rem;
  #current_user-image{
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
  }
}
/* POST 共通
******************************************** */
.post-mainVisual:hover{
  opacity: .5;
}
// show.html
#btn-authenticate_user-post-info{
  color: #999;
  &::after{
  content: inherit;
  }
}
.post-mainVisual{
  background-repeat: no-repeat;
  background-size: cover;
}
.text-url{
  word-wrap: break-word;
}
#summernote-editor table p{
  margin: 0;
}
/* BANNER 共通
******************************************** */
@import "banners";

/* HOME 共通
******************************************** */
/*
MAIN VISUAL
*/
.top-mainVisual-wrapper{
  background-color: $base-font-color;
  .top-mainVisual-container{
    color: #fff;
  }
  .description{
    color: #ccc;
  }
}
/*
LATEST
*/
.each-wrapper:nth-child(even){
  background-color: $bg-color-light-gray;
}
.section-title-container{
  .title-ja{
    color: $font-color-gray-soft;
  }
}
.each-section-posts-link{
  color: $base-font-color;
  img{
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
  }
  &:hover{
    text-decoration: none;
  }
  &:hover img{
    opacity: .5;
  }
  &:hover .posts-title-inner{
    color: $base-font-color;
    .posts-title{
      text-decoration: underline;
    }
  }
  .posts-title-inner{
    .read-more{
      color: $font-color-gray-soft;
    }
  }
}
/*
BANNERS
*/

@include media-breakpoint-only(xs) {
  .top-mainVisual-container{
    padding: 40px 0;
    .top-mainVisual-headline{
      font-size: $font-size-40px;
    }
    .description{
      font-size: $font-size-13px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 200px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-16px;
    }
    .read-more{
      font-size: $font-size-14px;
      i{
        padding-right: 8px;
      }
    }
  }
  // POST
  .post-title{
    font-size: 1.25rem;
  }
  .post-mainVisual{
    height: 280px;
  }
  // USERS
  #current_user-image{
    width: 60px;
    height: 60px;
  }
}
@include media-breakpoint-only(sm) {
  .top-mainVisual-container{
    padding: 48px 0;
    .top-mainVisual-headline{
      font-size: $font-size-50px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 200px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-16px;
    }
    .read-more{
      font-size: $font-size-14px;
      i{
        padding-right: 8px;
      }
    }
  }
  // POST
  .post-title{
    font-size: 1.25rem;
  }
  .post-mainVisual{
    height: 320px;
  }
  // USERS
  #current_user-image{
    width: 80px;
    height: 80px;
  }
}
@include media-breakpoint-only(md) {
  .top-mainVisual-container{
    padding: 56px 0;
    .top-mainVisual-headline{
      font-size: $font-size-50px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 200px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-18px;
    }
    .read-more{
      i{
        padding-right: 8px;
      }
    }
  }
  // POST
  .post-title{
    font-size: 1.5rem;
  }
  .post-mainVisual{
    height: 350px;
  }
  // USERS
  #current_user-image{
    width: 100px;
    height: 100px;
  }
}
@include media-breakpoint-up(lg) {
  .top-mainVisual-container{
    padding: 64px 0;
    .top-mainVisual-headline{
      font-size: $font-size-60px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 216px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-18px;
    }
    .read-more{
      i{
        padding-right: 8px;
      }
    }
  }
  // POSTS
  .post-title{
    font-size: 1.75rem;
  }
  .post-mainVisual{
    height: 400px;
  }
  // USERS
  #current_user-image{
    width: 100px;
    height: 100px;
  }

}
