@import "bootstrap";
@import "font-awesome";
/* 共通
******************************************** */
@import "variables/colors";
@import "variables/font-sizes";
@import "variables/spacing";
@import "layouts/base";
@import "layouts/header";

/* HOME 共通
******************************************** */
@import "home";
/* SESSIONS 共通
******************************************** */
@import "sessions";
/* USER 共通
******************************************** */
@import "users";
/* POST 共通
******************************************** */
@import "posts";

/* HEADER 共通
******************************************** */
@include media-breakpoint-only(xs) {
  body{
    padding-top: 3.25rem;
  }
}
@include media-breakpoint-only(sm) {
  body{
    padding-top: 3.25rem;
  }
}
@include media-breakpoint-only(md) {
  body{
    padding-top: 3rem;
  }
}
@include media-breakpoint-up(lg) {
  body{
    padding-top: 3rem;
  }
}
