/* 共通設定
******************************************** */
.top-mainVisual-wrapper{
  background-color: $bg-color-dark;
  .top-mainVisual-container{
    color: $font-color-white;
  }
  .description{
    color: $font-color-ccc;
  }
}
.each-wrapper:nth-child(even){
  background-color: $bg-color-light-gray;
}
@include media-breakpoint-between(md, xl) {
  .top-mainVisual-container{
    padding: 60px 0;
  }
  .top-mainVisual-headline{
    font-size: $font-size-60px;
  }
  .section-title-container{
    .title-ja{
      color: $font-color-gray-soft;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
}
