/* 共通設定
******************************************** */
.top-mainVisual-wrapper{
  background-color: #000;
  .top-mainVisual-container{
    color: #fff;
  }
  .description{
    color: #ccc;
  }
}
.each-wrapper:nth-child(even){
  background-color: #f9f9f9;
}
.section-title-container{
  .title-ja{
    color: #838E95;
  }
}
.each-section-posts-link{
  color: #000;
  img{
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
  }
  &:hover{
    text-decoration: none;
  }
  &:hover img{
    opacity: .5;
  }
  &:hover .posts-title-inner{
    color: #000;
    .posts-title{
      text-decoration: underline;
    }
  }
  .posts-title-inner{
    .read-more{
      color: #838E95;
    }
  }
}
@include media-breakpoint-only(xs) {
  .top-mainVisual-container{
    padding: 40px 0;
    .top-mainVisual-headline{
      font-size: $font-size-40px;
    }
    .description{
      font-size: $font-size-13px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 200px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-16px;
    }
    .read-more{
      font-size: $font-size-14px;
      i{
        padding-right: 8px;
      }
    }
  }
}
@include media-breakpoint-only(sm) {
  .top-mainVisual-container{
    padding: 48px 0;
    .top-mainVisual-headline{
      font-size: $font-size-50px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 200px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-16px;
    }
    .read-more{
      font-size: $font-size-14px;
      i{
        padding-right: 8px;
      }
    }
  }
}
@include media-breakpoint-only(md) {
  .top-mainVisual-container{
    padding: 56px 0;
    .top-mainVisual-headline{
      font-size: $font-size-50px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 200px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-18px;
    }
    .read-more{
      i{
        padding-right: 8px;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .top-mainVisual-container{
    padding: 64px 0;
    .top-mainVisual-headline{
      font-size: $font-size-60px;
    }
  }
  .each-section-posts{
    min-height: 300px;
  }
  .posts-image-container{
    margin-bottom: 1rem;
    img{
      height: 216px;
    }
  }
  .posts-title-inner{
    margin-bottom: 2rem;
    .posts-title{
      font-size: $font-size-18px;
    }
    .read-more{
      i{
        padding-right: 8px;
      }
    }
  }
}
