/* ログイン画面 */
#login, #signup{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100%;
}
.form-signin{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
    .form-label-group {
      position: relative;
      margin-bottom: 1rem;
      input,label {
        height: 3.125rem;
        padding: .75rem;
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: #999;
        pointer-events: none;
        cursor: text;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
        text-align: left !important;
      }
      input::-webkit-input-placeholder {
        color: transparent;
      }
      input::-moz-placeholder {
        color: transparent;
      }
      input:-ms-input-placeholder {
        color: transparent;
      }
      input::-ms-input-placeholder {
        color: transparent;
      }
      input::placeholder {
        color: transparent;
      }
      input:not(:-moz-placeholder-shown) {
        padding-top: 1.25rem;
        padding-bottom: .25rem;
      }
      input:not(:-ms-input-placeholder) {
        padding-top: 1.25rem;
        padding-bottom: .25rem;
      }
      input:not(:placeholder-shown) {
        padding-top: 1.25rem;
        padding-bottom: .25rem;
      }
      input:not(:-moz-placeholder-shown) ~ label {
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 12px;
        color: #777;
      }
      input:not(:-ms-input-placeholder) ~ label {
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 12px;
        color: #777;
      }
      input:not(:placeholder-shown) ~ label {
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 12px;
        color: #777;
      }
    }
    .form-control {
      position: relative;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
}
.alert-wrapper{
  position: relative;
  .alert{
    position: fixed;
    left: 50px;
    bottom: 50px;
  }
}
