<header>
  <nav class="navbar navbar-expand-md fixed-top header-nav">
    <div class="container">
      <%= link_to "My Portfolio", :root, class: "navbar-brand font-weight-bold" %>
    </div>
  </nav>
</header>
