<header>
  <nav class="navbar navbar-expand-md fixed-top header-nav">
    <div class="container">
        <div class="mr-auto"><%= link_to "My Portfolio", :root, class: "navbar-brand font-weight-bold" %></div>
        <div class="ml-auto">
          <%= link_to "新規投稿", :new_post, class: "btn btn-primary" %>
        </div>
    </div>
  </nav>
</header>
